.global, .global *{
	color: #333;
	font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Consolas,Courier New,monospace,NSimSun,SimSun,SimHei;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	box-sizing: border-box;
}

.MainPanel-tab:hover{
	background: linear-gradient(#FF7F00, #FFE2C5);
	color: #FFF;
}

.z-index-dialog-popup{
	z-index: 2147483646
}

.icon-size{
	font-size:16px !important;
}
